


<div class="container py-5">

    <header class="text-dark text-center">
        <h1 class="display-4">Image To Pdf</h1>
        <p class="lead mb-0"> Convert any image to pdf using Angular 11 and Django rest framework.</p>
        <p class="mb-5 font-weight-dark"> by
            <a href="https://github.com/nassim-fox" class="text-dark">
                <u>Nassim Bouhadouf</u>
            </a>
        </p>
    </header>



    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file"  (change)="updateImage($event)" class="form-control border-0" >
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <div class="row">
                <button id="upload_button" *ngIf="this.visible_button_upload" [disabled]="this.visible_button_to_pdf==1" class="btn btn-outline-primary col-sm-3" (click)="uploadFile($event)">upload</button>
                <div class="col-sm-3"></div>
                <button id="to_pdf_button" *ngIf="this.visible_button_to_pdf" class="btn btn-outline-warning col-sm-3" (click)="toPdf($event)">To pdf</button>
            </div>

            <div *ngIf="!upload_success" class="row" style="margin-top:2% ;" >
                <a target="_blank" [href]="sanitize(link_to_pdf)" [innerHtml]="pdf_filename"></a>
            </div>                 
            
            <div *ngIf="upload_success" class="alert alert-success" role="alert" style="margin-top:2% ; ">
            The file is uploaded to server
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4"><img id="imageResult" [src]="imurl" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>

        </div>
    </div>
</div>

